.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh;
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            border: 2px solid green;
        }

        .admin-main {
            border: 1px solid red;
        }
    }

}