body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid rgb(80, 79, 79);
      height: 40px;
    }

    .btn-signup {
      border-radius: 5px;
      padding: 0 15px;
      border: 1px solid rgb(80, 79, 79);
      background-color: black;
      color: white;
      height: 40px;

      &:hover {
        background-color: rgb(44, 43, 43);
      }
    }



    .navbar {
      .nav-link.active {
        color: rgb(62, 192, 192);
      }
    }
  }

  .homepage-container {
    display: flex;

    img {
      height: 90vh;
    }

    .homepage-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 100px;
    }

    .title-1 {
      font-size: 70px;
      font-weight: 600;
    }

    .title-2 {
      font-size: 20px;
    }

    .title-3 {
      button {
        border-radius: 5px;
        padding: 0 15px;
        border: 1px solid rgb(80, 79, 79);
        background-color: black;
        color: white;
        height: 40px;

        &:hover {
          background-color: rgb(44, 43, 43);
        }
      }
    }
  }
}